<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>
    <ng-template #anonymousUser>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ng-template>
    <mat-nav-list *ngIf="auth.user$ | async as user; else anonymousUser">
      <img class="avatar" src="{{user.photoURL}}">
      <h4 mat-list-item>{{ user.displayName }}</h4>
      <a mat-list-item routerLink="/my/orders">My Orders </a>
      <a mat-list-item routerLink="/admin/orders">Manage Orders</a>
      <a mat-list-item routerLink="/admin/products">Manage Products</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routingLink="/">Shopping Hub</a>
      <span class="right-align"></span>
      <a href="">All Categories </a>
      <a href="">Bread</a>
      <a href="">Milk</a>
      <a href="">Fruits</a>
      <a href="">Vegetables</a>
      <a href="">Other</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
  
   <!-- <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" routerLink="/">Shopping Hub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">Shopping Cart</a>
        </li>
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-template>
  
        <li ngbDropdown *ngIf="auth.user$ | async as user; else anonymousUser" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ user.displayName }}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/my/orders">My Orders </a>
            <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
            <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav> 
  
  
  
   -->